
.polen-bar {
	background: transparent url('../img/polen-background.png') top left repeat;
	border-bottom: 4px solid #ffef75 !important;
}

.polen-title {
	font-size: 2em;
	font-weight: bolder;
	color: #fff;
}
.jumbotron {
	text-align:center;
	background-color: #fff !IMPORTANT;
}

#config_img, #config_titulo, #config_descricao {
	display:block;	
}
 
#config_img:hover, #config_titulo:hover, #config_descricao:hover {
}

label {
	color: #aeaeae;
	padding: 10px 0px 10px 0px;
}
.required:after {
    content: " (requerido)";
    color: #ffef75;
    font-weight: lighter;
}

.txt-titulo {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	color: #fff;
}