
.polen-bar {
	background: transparent url('../img/polen-background.png') top left repeat;
	border-bottom: 4px solid #ffef75 !important;
}

.polen-title {
	font-size: 2em;
	font-weight: bolder;
	color: #fff;
}
.jumbotron {
	background-color: #fffead !important;
	border-bottom: 20px solid #ffef75;
}
